@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;

}

.no-styles * {
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-styles img,
.no-styles svg {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

.bg-hero {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('./assets/images/hero1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.svg {
  width: 100%;
  height: 400px;
  display: block;
  margin: 0;
}